# Ignore large data folders
data/
runs/
predictions/

# Ignore web app temporary folders
static/

# Ignore downloaded pre-trained models
*.pt

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment folders
.env
venv/
ENV/
EDU/

# Ignore specific OS files
.DS_Store
Thumbs.db
